{% extends 'navbar.html'%} {%block content%}
<style>
  @import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Prompt:ital,wght@1,300&display=swap");
  h1,
  h2 {
    text-align: center;
    font-family: "Kanit", sans-serif;
  }
  h3,
  th,
  td,
  k {
    font-family: "Kanit", sans-serif;
  }
  table,
  td,
  th {
    border: 2px solid rgb(199, 199, 199);
    text-align: center;
  }
  table {
    width: 100%;
    text-align: center;
  }

  th {
    height: 50px;
  }
</style>

<div class="container-fluid">
  <div class="row m-3">
    <h2>Basic Table</h2>
    <hr />
  </div>
  <table class="table">
    <thead>
      <tr>
        {% for herd in herder%}
        <th>{{ herd }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for js in j_file %}
      <tr>
        <td>{{js}}</td>
        <td>{{ js.day }}</td>
        <td>{{j_file.js.year}}</td>
        <td>{{j_file.js.one_reward}}</td>
      </tr>
      {{ js.one_reward }} {% endfor %}
    </tbody>
  </table>
</div>

{{j_file}} {%endblock%}
