{% extends 'navbar.html'%} {%block content%}
<style>
  @import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Prompt:ital,wght@1,300&display=swap");
  h1,
  h2 {
    text-align: center;
    font-family: "Kanit", sans-serif;
  }
  h3,
  th,
  td,
  k {
    font-family: "Kanit", sans-serif;
  }
  table,
  td,
  th {
    border: 2px solid rgb(199, 199, 199);
    text-align: center;
  }
  table {
    width: 100%;
    text-align: center;
  }

  th {
    height: 50px;
  }
</style>

<div class="container-fluid">
  <div class="row m-3">
    <h2>ตารางแสดงเลขรางวัล ย้อนหลัง 10 ปี</h2>
    <hr />
  </div>
  <div class="row mr-3">
    <hr />
    <p>ตั้งแต่วันที่ 1 ตุลาคม 2554 จนถึง 1 พฤศจิกายน 2564</p>
    <br />
  </div>
  <table class="table">
    <thead>
      <tr>
        {% for herd in herder%}
        <th>{{ herd }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for js in j_file %}
      <tr>
        <td>{{js.id}}</td>
        <td>{{js.day }}</td>
        <td>{{js.year}}</td>
        <td>{{js.one_reward}}</td>
        <td>{{js.one_reward|slice:"0:3"}}</td>
        <td>{{js.one_reward|slice:"0:-3"}}</td>
        <td>{{js.one_reward|slice:"4:"}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{%endblock%}
