{% extends 'navbar.html'%} {% block content%}
<title>สรุปเลขรางวัล</title>
<body>
  <div class="herader">
    <h1 class="m-4">สรุปเลขรางวัล (กราฟ)</h1>
    <hr />
  </div>
  <!--  Table data for crate grapg -->

  <hr />
</body>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Prompt:ital,wght@1,300&display=swap");
  h1,
  h2 {
    font-family: "Kanit", sans-serif;
  }
  .trcolor {
    /* background-color: rgb(255, 166, 0); */
    background-color: #18b7be;
    border-radius: 5px;
  }
</style>
{% endblock %}
