{% extends 'navbar.html'%} {% block content%}
<title>สรุปเลขรางวัล</title>
<body>
  <div class="herader">
    <h1 class="m-4">สรุปเลขรางวัล (กราฟ)</h1>
    <hr />
  </div>
  <!--  Table data for crate grapg -->
  <div class="container">
    <h2>2554</h2>
    <table class="table">
      <thead>
        <tr>
          <th>ลำดับ</th>
          <th>เลขรางวัล</th>
          <th>2 เลขท้าย</th>
          <th>3 เลขหน้า</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>111111</td>
          <td>11</td>
          <td>111</td>
        </tr>
        <tr>
          <td>2</td>
          <td>222222</td>
          <td>22</td>
          <td>222</td>
        </tr>
        <tr>
          <td>3</td>
          <td>333333</td>
          <td>33</td>
          <td>333</td>
        </tr>
      </tbody>
    </table>
  </div>
  <hr />
</body>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Prompt:ital,wght@1,300&display=swap");
  h1,
  h2 {
    font-family: "Kanit", sans-serif;
  }
</style>
{% endblock %}
