{% extends 'navbar.html'%} {% block content%}
<title>สรุปเลขรางวัล</title>

<body>
  <div class="herader">
    <h1 class="m-4">สรุปเลขรางวัล (กราฟ)</h1>
    <h3>แสดงความถี่ในการออกรางวัลของแต่ละตัวเลขในแต่ละปี</h3>
    <hr />
  </div>
  <!--  Table data for crate grapg -->
  <div>
    <h3>ปี 2554 (1 ตุลาคม จนถึง 30 ธันวาคม)</h3>
    <hr>
    <img src="../static/images/2554.png"  height="400" width="530">
    <p>จากกราฟจะแสดงให้เห็นว่าเลขที่มีความถี่ในการออกรางวัลมากที่สุดในปี 2554 คือเลข 5 และเลขที่มีความถี่น้อยที่สุดในการออกรางวัลในปี 2554 คือเลข 3</p>
  </div>
  <hr>
  <div>
    <h3>ปี 2555</h3>
    <img src="../static/images/2555.png"  height="400" width="530">
    <p>จากกราฟจะแสดงให้เห็นว่าเลขที่มีความถี่ในการออกรางวัลมากที่สุดในปี 2555 คือเลข 5 และเลขที่มีความถี่น้อยที่สุดในการออกรางวัลในปี 2555 คือเลข 6,7</p>
  </div>
  <hr>
  <div>
    <h3>ปี 2556</h3>
    <img src="../static/images/2556.png"  height="400" width="530">
    <p>จากกราฟจะแสดงให้เห็นว่าเลขที่มีความถี่ในการออกรางวัลมากที่สุดในปี 2556 คือเลข 6 และเลขที่มีความถี่น้อยที่สุดในการออกรางวัลในปี 2556 คือเลข 0</p>
  </div>
  <hr>
  <div>
    <h3>ปี 2557</h3>
    <img src="../static/images/2557.png"  height="400" width="530">
    <p>จากกราฟจะแสดงให้เห็นว่าเลขที่มีความถี่ในการออกรางวัลมากที่สุดในปี 2557 คือเลข 6 และเลขที่มีความถี่น้อยที่สุดในการออกรางวัลในปี 2557 คือเลข 5</p>
  </div>
  <hr>
  <div>
    <h3>ปี 2558</h3>
    <img src="../static/images/2558.png"  height="400" width="530">
    <p>จากกราฟจะแสดงให้เห็นว่าเลขที่มีความถี่ในการออกรางวัลมากที่สุดในปี 2558 คือเลข 0,1 และเลขที่มีความถี่น้อยที่สุดในการออกรางวัลในปี 2558 คือเลข 9</p>
  </div>
  <hr>
  <div>
    <h3>ปี 2559</h3>
    <img src="../static/images/2559.png"  height="400" width="530">
    <p>จากกราฟจะแสดงให้เห็นว่าเลขที่มีความถี่ในการออกรางวัลมากที่สุดในปี 2559 คือเลข 4,9 และเลขที่มีความถี่น้อยที่สุดในการออกรางวัลในปี 2559 คือเลข 5</p>
  </div>
  <hr>
  <div>
    <h3>ปี 2560</h3>
    <img src="../static/images/2560.png"  height="400" width="530">
    <p>จากกราฟจะแสดงให้เห็นว่าเลขที่มีความถี่ในการออกรางวัลมากที่สุดในปี 2560 คือเลข 1 และเลขที่มีความถี่น้อยที่สุดในการออกรางวัลในปี 2560 คือเลข 8</p>
  </div>
  <hr>
  <div>
    <h3>ปี 2561</h3>
    <img src="../static/images/2561.png"  height="400" width="530">
    <p>จากกราฟจะแสดงให้เห็นว่าเลขที่มีความถี่ในการออกรางวัลมากที่สุดในปี 2561 คือเลข 3 และเลขที่มีความถี่น้อยที่สุดในการออกรางวัลในปี 2561 คือเลข 7</p>
  </div>
  <hr>
  <div>
    <h3>ปี 2562</h3>
    <img src="../static/images/2562.png"  height="400" width="530">
    <p>จากกราฟจะแสดงให้เห็นว่าเลขที่มีความถี่ในการออกรางวัลมากที่สุดในปี 2562 คือเลข 7 และเลขที่มีความถี่น้อยที่สุดในการออกรางวัลในปี 2562 คือเลข 8</p>
  </div>
  <hr>
  <div>
    <h3>ปี 2563</h3>
    <img src="../static/images/2563.png"  height="400" width="530">
    <p>จากกราฟจะแสดงให้เห็นว่าเลขที่มีความถี่ในการออกรางวัลมากที่สุดในปี 2563 คือเลข 9 และเลขที่มีความถี่น้อยที่สุดในการออกรางวัลในปี 2563 คือเลข 2</p>
  </div>
  <hr>
  <div>
    <h3>ปี 2564 (17 มกราคม ถึง 1 พฤศจิกายน)</h3>
    <img src="../static/images/2564.png"  height="400" width="530">
    <p>จากกราฟจะแสดงให้เห็นว่าเลขที่มีความถี่ในการออกรางวัลมากที่สุดในปี 2564 คือเลข 7 และเลขที่มีความถี่น้อยที่สุดในการออกรางวัลในปี 2564 คือเลข 6</p>
  </div>
  <hr />
</body>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Prompt:ital,wght@1,300&display=swap");

  h1,
  h2,
  h3,
  p {
    font-family: "Kanit", sans-serif;
  }

  .trcolor {
    /* background-color: rgb(255, 166, 0); */
    background-color: #18b7be;
    border-radius: 5px;
  }
</style>
{% endblock %}