{% extends 'navbar.html '%} {% block content %} {% load static %}
<body>
  <div class="container-fluid">
    <br /><br />
    <h1>เปอร์เซ็นการออกรางวัลของแต่ละเลขในแต่ละหลัก</h1>
    <hr />
    <div class="row mt-2">
      <div class="col">
        <!-- table -->
          <tbody>
            
          </tbody>
        </table>
            {% for k, year in list3 %}
            <table style="width:100%">
              <tr>
                {% for head in list_sequence%}
                  <th class="centerr">{{ head }}</th>
                  {% endfor %}
              </tr>
            <h1 class="yearr">ปี : {{year}}</h1>
            <hr/>
            <tbody>
              {% for j in k %}
              <tr>
                {% for h in j %}
                    <td class="uuuuu">{{h}} %</td>
            {% endfor %}
          </tr>
            {% endfor %}
          </tbody>
            {% endfor %}


        </table>
      </div>
    </div>
    <br />
  </div>
  
</body>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Prompt:ital,wght@1,300&display=swap');
  h1, th {
    font-family: "Kanit", sans-serif;
  }
  .centerr{
    text-align: center;
    border: 0.5px solid black;
  }
  .uuuuu {
    border: 0.5px solid black;
    text-align: center;
  }
  .yearr{
    text-decoration: underline;
  }
  tr {
    border: 0.5px solid black;
  }
</style>
{% endblock %}
