{% extends 'navbar.html'%} {% block content%}
<div class="container">
  <br />
  <div class="header">
    <h1>สุ่มตัวเลขล๊อตเตอรี่</h1>
    <hr />
  </div>
  <div class="section">
    <div class="random_number">
      <h1>เลขที่ออก</h1>
      <p>{{ random_number }}</p>
      <hr />
      <button type="submit" class="btn btn-primary">
        <a href="{% url 'randompage' %}">สุ่มใหม่อีกครั้ง</a>
      </button>
    </div>
    <br />
    <h3>ประวัติการสุ่มตัวเลขล๊อตเตอรี่</h3>
    <hr />
    <!-- table view -->
    <div class="history_number">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">ลำดับ</th>
            <th scope="col">เลขรางวัลที่ 1</th>
            <th scope="col">เลขหน้า 3 ตัว</th>
            <th scope="col">เลขท้าย 3 ตัว</th>
            <th scope="col">เลขท้าย 2 ตัว</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>{{ random_number }}</td>
            <td>{{ three_num_first }}</td>
            <td>{{ three_num_last }}</td>
            <td>{{ two_num_last }}</td>
          </tr>

          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<style>
  .random_number {
    text-align: center;
    font-size: 50px;
  }
  a {
    text-decoration: none;
    color: white;
  }
  p {
    margin: 0;
  }
</style>
{% endblock %}
